.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
    margin-top: 100px;
}
.header h2 {
    font-size: 4em;
}
.header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #111;
    color: #fff;
    padding: 10px 16px;
    margin-top: 20px;
    font-weight: 500;
}